@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');

.loginbtn {
    background-color: #c0c0c0;
    color: black;
    margin-bottom: 5%;
    font-size: 12px;
    border-radius: 12px;
    font-family: 'Nova Square', cursive;
}

.loginbtn:hover {
    background-color: white;
    color: black;
}

.registerbtn {
    background-color: #c0c0c0;
    color: black;
    margin-bottom: 5%;
    font-size: 12px;
    border-radius: 12px;
    font-family: 'Nova Square', cursive;
}

.registerbtn:hover {
    background-color: white;
    color: black;
}

.logindiv {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.registerinput {
    text-align: center;
    background-color: #c0c0c0;
    margin-bottom: 10px;
    color: black;
    width: 50%;
    border-radius: 12px;
    font-family: 'Nova Square', cursive;
}

.selectbox {
    background-color: #c0c0c0;
    color: black;
    margin-bottom: 5%;
    font-size: 12px;
    border-radius: 12px;
}

.logininput {
    text-align: center;
    background-color: #c0c0c0;
    margin-bottom: 10px;
    color: black;
    width: 50%;
    border-radius: 12px;
    font-family: 'Nova Square', cursive;
}

.Auth {
    background-color: #526f9e;
    overflow: auto;

}

html {
    background-color: #526f9e;
    overflow: auto;
}

.loginheader {
    font-family: 'Orbitron', sans-serif;
}

.login-label {
    font-family: 'Orbitron', sans-serif;
}

.registerheader {
    font-family: 'Orbitron', sans-serif;
}

.register-label {
    font-family: 'Orbitron', sans-serif;
}

.roleselect {
    font-family: 'Nova Square', cursive;
}